@layout('main')

@section('content')

<h1>{{ title }} {{ ayaya }}</h1>
<ul class="list-group">
  @each(post in posts)
    <li class="list-group-item">{{ post.title }}</li>
    <p >{{ post.body }}</p>
  @endeach
</ul>
@endsection
